#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#if !defined(_DEBUG)
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,1,0,14
 PRODUCTVERSION 2,1,0,14
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Nemo Collision Behaviors\0"
            VALUE "CompanyName", "Virtools SA\0"
            VALUE "FileDescription", "CollisionBehaviors DLL\0"
            VALUE "FileVersion", "2.1.0.14\0"
            VALUE "InternalName", "CollisionBehaviors\0"
            VALUE "LegalCopyright", "\xA9 1998-2002 Virtools SA\0"
            VALUE "LegalTrademarks", "\xA9 1998-2002 Virtools\0"
            VALUE "OriginalFilename", "CollisionBehaviors.DLL\0"
            VALUE "ProductName", "Virtools\0"
            VALUE "ProductVersion", "2.1.0.14\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
#endif

#if defined(_DEBUG)
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,1,0,14
 PRODUCTVERSION 2,1,0,14
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Nemo Collision Behaviors Debug\0"
            VALUE "CompanyName", "Virtools SA\0"
            VALUE "FileDescription", "CollisionBehaviors DLL\0"
            VALUE "FileVersion", "2.1.0.14\0"
            VALUE "InternalName", "CollisionBehaviors\0"
            VALUE "LegalCopyright", "\xA9 1998-2002 Virtools SA\0"
            VALUE "LegalTrademarks", "\xA9 1998-2002 Virtools\0"
            VALUE "OriginalFilename", "CollisionBehaviors.DLL\0"
            VALUE "ProductName", "Virtools\0"
            VALUE "ProductVersion", "2.1.0.14\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
#endif

/////////////////////////////////////////////////////////////////////////////