#include "resource.h"

#include <windows.h>

//
// Accelerator
//

IDR_ACCEL ACCELERATORS 
BEGIN
    "?",            ID_ACCEL_HELP,          ASCII,  ALT
    "/",            ID_ACCEL_HELP,          ASCII,  ALT
END

//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_PLAYER              ICON                    "Player.ico"

//
// Dialog
//

IDD_FULLSCREEN_SETUP DIALOGEX 0, 0, 386, 194
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "FullScreen Setup"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",1,93,142,77,14
    LTEXT           "Driver :",-1,7,5,25,8
    LTEXT           "Display Size",-1,263,5,50,8
    LISTBOX         IDC_LB_SCREEN_MODE,263,14,117,165,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDC_LB_DRIVER,7,14,250,119,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Cancel",2,93,163,76,14
END

IDD_DIALOG DIALOGEX 0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",1,129,7,50,14
    PUSHBUTTON      "Cancel",2,129,24,50,14
END

//
// String Table
//

STRINGTABLE
BEGIN
    IDS_MAIN_WND_NAME       "Ballance"
    IDS_MAIN_WND_CLASS_NAME "Ballance"
    IDS_RENDER_WND_CLASS_NAME "Ballance Render"
END

