# .github/workflows/build.yml
name: Build

on:
  workflow_call:
    inputs:
      branch:  
        required: true
        type: string
        default: "main"
      configuration:
        required: true
        type: string
        default: "Release"

jobs:
  build:
    runs-on: windows-latest

    env:
      PROJECT_NAME: Ballanced
      BASE_BUILD_DIR: ${{ github.workspace }}/build
      BASE_DIST_DIR: ${{ github.workspace }}/dist
      CMAKE_GENERATOR: "Ninja"

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.branch }}
        submodules: true

    - name: Get current branch and commit hash
      shell: bash
      run: |
        echo "GIT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})" >> "$GITHUB_ENV"
        echo "GIT_SHA=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

    - name: Setup CMake
      uses: lukka/get-cmake@latest

    - name: Setup MSVC
      uses: TheMrMilchmann/setup-msvc-dev@v3.0.0
      with:
        arch: x86

    - name: Configure CMake
      run: >
        cmake -S "${{ github.workspace }}" -G "${{ env.CMAKE_GENERATOR }}" -B ${{ env.BASE_BUILD_DIR }}/${{ inputs.configuration }}
        -DCMAKE_BUILD_TYPE=${{ inputs.configuration }}
        -DCMAKE_INSTALL_PREFIX=${{ env.BASE_DIST_DIR }}/${{ inputs.configuration }}

    - name: Build the project
      run: cmake --build ${{ env.BASE_BUILD_DIR }}/${{ inputs.configuration }}

    - name: Install binaries to distribution folder
      run: cmake --install ${{ env.BASE_BUILD_DIR }}/${{ inputs.configuration }} --prefix ${{ env.BASE_DIST_DIR }}/${{ inputs.configuration }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4.3.3
      with:
        name: ${{ env.PROJECT_NAME }}-${{ env.GIT_BRANCH }}-${{ env.GIT_SHA }}-${{ inputs.configuration }}
        path: ${{ env.BASE_DIST_DIR }}/${{ inputs.configuration }}

